<div class="card" id="post-details">
  <div class="d-flex card-header justify-content-between">
    <a href="/post/{{id}}"><h2>{{title}}</h2></a>
    <h5>Posted on {{createdAt}} </h5>
  </div>
  <div class="card-body">
    <p class="card-text">{{body}}</p>
  </div>
</div>