<header>
    <div>
        <h1>Your Dashbord</h1>
    </div>
</header>

<div class="container">

    <div class="d-grid gap-3" id="post-details">

        {{#each posts}}
        {{> my-post }}
        {{/each}}
    </div>
</div>
