<header>
    <div>
        <h1>The Tech Blog</h1>
    </div>
</header>

<div class="container">

    <div class="d-grid gap-3" id="post-details">

        {{#each posts}}
        {{> post-preview }}
        {{/each}}
    </div>
</div>