<header>
  <div>
    <h1>The Tech Blog</h1>
  </div>
</header>
<div class="card" id="post-details">
  <div class="container d-flex card-header justify-content-between">
    <h2>{{post.title}}</h2>
    <h6>Posted by {{post.user.username}} on {{post.createdAt}}</h6>
  </div>
  <div class="container mb-3">
    <label
      for="exampleFormControlTextarea1"
      class="form-label"
    >{{post.body}}</label>
    <textarea
      name="comment-body"
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
    ></textarea>
    <button class="my-2 btn btn-primary" type="submit">Leave Comment</button>
  </div>
</div>