<header>
  <div>
    <h1>The Tech Blog</h1>
  </div>
</header>
<form>
<div class="card mb-3" id="post-details">
  <div class="container d-flex card-header justify-content-between">
    <h2>{{post.title}}</h2>
    <h6>Posted by {{post.user.username}} on {{post.createdAt}}</h6>
  </div>
  <div class="container mb-3">
    <label
      for="textarea"
      class="form-label"
    >{{post.body}}</label>
</div>
<div class="card" id="comments">
  <div class="container d-flex card-header justify-content-between">
    <h6>Comments</h6>
  </div>
        {{> comments this }}
<textarea class="comment-body" id="textarea" rows="3" placeholder="Leave a comment here"></textarea>
</div>
<div>
   <input class="my-2 btn btn-primary" type="submit" value="Leave Comment">
</div>
</form>

<script src="/js/comment.js"></script>